{% extends "master.html" %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="background-color: red; color: aliceblue;">{{ mymember.firstname }} {{ mymember.lastname }}</h1>

    <p>Phone: {{ mymember.phone }}</p>
    <p>Member Since: {{ mymember.joined_date }}</p>

    <p>Back to <a href="/members" style="color: greenyellow;">Members</a></p>

</body>
</html> -->



{% block title %}
  <h1> DETAILS ABOUT <span style="background-color: red; color: aliceblue;">{{ mymember.firstname }} {{ mymember.lastname }}</span></h1>
{% endblock %}

{% block content %}
  <h1 style="background-color: red; color: aliceblue;">{{ mymember.firstname }} {{ mymember.lastname }}</h1>

  <p>Phone: {{ mymember.phone }}</p>
  <p>Member since: {{ mymember.joined_date  }}</p>

  <p>Back to <a href="/members" style="color: blue;">Member</a></p>
{% endblock %}

















